(Q)1)Write a code to reverse a string

In [ ]:
#(Ans):-
l="Pwskills"
l[::-1]

'sllikswP'

(Q)2)Write a code to count the number of vowels in a string

In [ ]:
#(Ans):-
l="Lion are roaring"
count=0
for character in l:
    if character in "aAeEiIoOuU":
        count+=1
print("count:",count)

count: 7

(Q)3)Write a code to check if a given string is a palindrome or not

In [ ]:
#(Ans):-
a="madam"
i=a[::-1]
if i==a:
    print("It is palindrome")
else:
    print("It is not palindrome")

It is palindrome

(Q)4)Write a code to check if two given strings are anagrams of each other

In [ ]:
#(Ans):-
a="listen"
b="silent"
if len(a)!=len(b):
    print("It is not Anagram of each other")
else:
    if sorted(a)==sorted(b):
        print("It is Anagram of each other")
    else:
        print("It is not Anagram of each other")

It is Anagram of each other

(Q)5)Write a code to find all occurrences of a given substring within another string

In [ ]:
#(Ans):-
my_string="Singh is king but not a big king as compared to lion"
my_substring="king"
my_count=my_string.count(my_substring)
print("Occurences is:",my_count, "times")

Occurences is: 2 times

(Q)6)Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
#(Ans):-
st="Asad is a hero,Geek for Geek"

(Q)7)Write a code to determine if a string has all unique characters

In [ ]:
#(Ans):-
s="raceiswon"
unique_chars = set(s)
if len(unique_chars) == len(s):
    print("It is unique character")
else:
    print("It is not unique character")

It is unique character

(Q)8)Write a code to convert a given string to uppercase or lowercase

In [ ]:
#(Ans):-
s="pwskills"
s.upper() #It is the function that convert the character from lower to upper.

'PWSKILLS'

In [ ]:
a="LION IS A KING"
a.lower() #It is the function that convert the character from upper to lower.

'lion is a king'

(Q)9)Write a code to count the number of words in a string

In [ ]:
#(Ans):-
a="jungle"
len(a)

6

(Q)10) Write a code to concatenate two strings without using the + operator

In [ ]:

#(Ans):-
a="Data analytics "
b="course of pw"
print("".join([a,b]))

Data analytics course of pw

(Q)11)Write a code to remove all occurrences of a specific element from a list

In [ ]:
#(Ans):-
a=[1,2,3,4,1,6,7,1]
num=1
while num in a:
    a.remove(num)
print(a)

[2, 3, 4, 6, 7]

(Q)12)Implement a code to find the second largest number in a given list of integers

In [ ]:
#(Ans):-
lis=[20,30,70,100]
lis[-2]
print("Second largest no is:",lis[-2])

Second largest no is: 70

(Q)13)Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
#(Ans):-
l=["Ajay","Raj","Sanjana","Ajay","khan","Raj","Sanjana"]
s={}
for i in l:
    if i in s:
        s[i] += 1
    else:
        s[i] = 1
print(s)

{'Ajay': 2, 'Raj': 2, 'Sanjana': 2, 'khan': 1}

(Q)14)Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
#(Ans):-
rev=[1,5,8,9,10,11]
rev

[1, 5, 8, 9, 10, 11]

In [ ]:
rev[::-1]

[11, 10, 9, 8, 5, 1]

(Q)15)implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [ ]:
#(Ans):-
l=[1,2,3,2,4,3,5,6,1,7,8,6,8,9,7,8]
clean_list=[]
for i in l:
    if i not in clean_list:
        clean_list.append(i)
print(clean_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

(Q)16)Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
#(Ans):-
l=["pwskills","Jeewala","commercewala","Bankwala"]
a=l
a.sort()
if a==l:
    print("Given list are  sorted in Ascending or descending order")
else:
    print("Given list are  not sorted in Ascending or descending order")

Given list are  sorted in Ascending or descending order

(Q)17)Write a code to merge two sorted lists into a single sorted list

In [ ]:
#(Ans):-
l=["Ajay","Raju","Leo"]
a=["Khan","Namrata","Jungle"]
l.extend(a)
print(sorted(l))

['Ajay', 'Jungle', 'Khan', 'Leo', 'Namrata', 'Raju']

OR

In [ ]:
#(Ans):-
list_1=["A","E","D","C"]
list_2=["R","B"]
sorted_list=[]
for i in list_1:
    if i not in sorted_list:
        sorted_list.append(i)
for j in list_2:
    if j not in sorted_list:
        sorted_list.append(j)
print(sorted(sorted_list))

['A', 'B', 'C', 'D', 'E', 'R']

(Q)18)Implement a code to find the intersection of two given lists

In [ ]:
#(Ans):-
list_1=["Hiking","Reading","Coding","Travelling"]
list_2=["Coding","Fighting","Travelling","Photography"]
intersection_list=[]
for i in list_1:
    if i in list_2:
        intersection_list.append(i)
print(intersection_list)

['Coding', 'Travelling']

(Q)19)Create a code to find the union of two lists without duplicates

In [ ]:

#(Ans):-
list_1=["Hiking","Reading","Coding","Travelling"]
list_2=["Coding","Travelling","Fighting","Photograph"]
union_list=[]
for i in list_1:
    if i not in list_2:
        union_list.append(i)
for j in list_2:
    if j not in list_1:
        union_list.append(j)
print(union_list)

['Hiking', 'Reading', 'Fighting', 'Photograph']

(Q)20)Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
#(Ans):-
import random
l=[10,30,2,60,80]
random.shuffle(l)
print(l)

[80, 60, 10, 2, 30]

(Q)21)Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
#(Ans):-
def common_elements(tuple_1,tuple_2):
  common_tuple=()
  for i in tuple_1:
    if i in tuple_2:
      common_tuple+=(i,)
  return common_tuple
tuple_1=(1,2,3,4,5)
tuple_2=(4,5,6,7,8,1)
print(common_elements(tuple_1,tuple_2))

(1, 4, 5)

(Q)22)Create a code that prompts the user to enter two sets of integers seprated by commas.Then,print the intersection of these two sets.

In [ ]:
#(Ans):-
def intersection_set(set_1,set_2):
    set_1=input("Enter first set :")
    set_2=input("Enter second set :")
    set_1=set(set_1.split(','))
    set_2=set(set_2.split(','))
    return set_1.intersection(set_2)
print(intersection_set(set_1,set_2))

Enter first set :{1,2,3,4}
Enter second set :{3,4}
{'4}'}

(Q)23)Write a code to concatenate two tuple.The function should take two tuple as input and return a new tuple  containig elements from both tules.

In [ ]:
#(Ans):-
def concatenate_tuple(tuple_1,tuple_2):
  return tuple_1+tuple_2
tuple_1=(1,2,3)
tuple_2=(4,5,6)
print(concatenate_tuple(tuple_1,tuple_2))

(1, 2, 3, 4, 5, 6)

(Q)24)Devlop a code that prompts the user to input two sets of string.Then,print the element that are prsent in the first set but not in the second set

In [ ]:
#(Ans):-
set_1=input("Enter first set :")
set_2=input("Enter second set :")
set_1=set(set_1.split(','))
set_2=set(set_2.split(','))
set_1 - set_2

Enter first set :{"A","B","C","M"}
Enter second set :{"V","B","C","L"}

{'"M"}', '{"A"'}

(Q)25)Create a code that takes a tuple and two integer as input .The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:
#(Ans):-
def new_tuple(tuple_1,start_index,end_index):
  return tuple_1[start_index:end_index]
tuple1=(1,2,3,4,5,6,7,8,9)
start=2
end=6
result=new_tuple(tuple1,start,end)
print(result)

(3, 4, 5, 6)

(Q)Write a code that prompts the user to input two sets of characters.Then,print the union of these two sets.

In [ ]:
#(Ans):-
set1=input("Enter first set of characters seprated by commas:")
set2=input("Enter second set of characters seprated by commas:")
set1=set(set1.split(','))
set2=set(set2.split(','))
union_set=set1.union(set2)
print("The union of two sets is:",union_set)

Enter first set of characters seprated by commas:{"Hiking","Reading","Coading"}
Enter second set of characters seprated by commas:{"Travelling","Lighting","coading"}
The union of two sets is: {'"coading"}', '"Reading"', '{"Hiking"', '"Lighting"', '"Coading"}', '{"Travelling"'}

(Q)27)Deveop a code that takes a tuples of integer as input.The function should return the maximum and minimum values from the tuple using the tuple unpacking.

In [ ]:
#(Ans):-
def max_min(tuple1):
  maximum=max(tuple1)
  minimum=min(tuple1)
  return maximum,minimum
tuple1=(20,40,50,70,90)
max_value,min_value=max_min(tuple1)
print(f"Maximum value is:{max_value}")
print(f"Minimum value is:{min_value}")

Maximum value is:90
Minimum value is:20

(Q)28)Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [ ]:
#(Ans):-
set_1={10,20,40,50}
set_2={20,60,10,70,90}
#union of two sets#
set_1|set_2

{10, 20, 40, 50, 60, 70, 90}

In [ ]:
#intersection of two sets#
set_1&set_2

{10, 20}

In [ ]:
#difference of two sets#
set_1-set_2

{40, 50}

(Q)29)Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the **tuple**

In [ ]:
#(Ans):-
def count_occurences_element(tuple1,element):
  count=0
  for i in tuple1:
    if i==element:
      count+=1
  return count
tuple1=(1,2,3,4,3,2,1,3,4,5,1,1)
print(count_occurences_element(tuple1,1))

4

or

In [ ]:
def count_occurences_element(tuple1,element):
  return tuple1.count(element)
tuple1=(1,2,3,2,4,5,6,1,1,1,7)
element=1
print(count_occurences_element(tuple1,element))

4

(Q)30)Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [ ]:
#(Ans):-
set_1=input("Enter first set of strings:")
set_2=input("Enter second set of string:")
set_1=set(set_1.split(','))
set_2=set(set_2.split(','))
set_1^set_2

Enter first set of strings:{"HIKING","READING","COADING"}
Enter second set of string:{"COADING","PHOTOGRAPHY","TRAVELLING"}

{'"COADING"}',
 '"PHOTOGRAPHY"',
 '"READING"',
 '"TRAVELLING"}',
 '{"COADING"',
 '{"HIKING"'}

OR

In [ ]:
set_1=input("Enter first set of strings:")
set_2=input("Enter second set of string:")
set_1=set(set_1.split(','))
set_2=set(set_2.split(','))
for i in set_1:
  if i in set_2:
    set_1.remove(i)
    set_2.remove(i)
print(set_1^set_2)

Enter first set of strings:{"A","B","C"}
Enter second set of string:{"S","C","J"}
{'"B"', '"J"}', '"C"}', '{"S"', '{"A"', '"C"'}

(Q)31)Write a code that takes a list of words as input and return a dictionary where the key are unique words and the values are the frequencies of those words in the input list.

In [ ]:
#(Ans):-
def return_dictionary(list1):
  dictionary={}
  for i in list1:
    if i in dictionary:
      dictionary[i]+=1
    else:
      dictionary[i]=1
  return dictionary
print(return_dictionary(["ajay","raj","sanju","ajay","khan","sonu","sanju","khan"]))

{'ajay': 2, 'raj': 1, 'sanju': 2, 'khan': 2, 'sonu': 1}

(Q)32)Write a code that takes two dictionaries as input and merges them into a single dictionary.if there are common keys,the values should be added together.

In [ ]:
#(Ans):-
def merge_dictionary(dict1,dict2):
  for key,value in dict2.items():
    if key in dict1:
     dict1[key]+=value
    else:
      dict1[key]=value
  return dict1
dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
print(merge_dictionary(dict1,dict2))

{'a': 1, 'b': 5, 'c': 4}

(Q)33)Write a code to access a value in a nested dictionary.The function should take the dictionary and a list of keys as input,and return the corresponding value.if any of keys do not exist in the dictionary,the function should return none.

In [ ]:
#(Ans):-
def access_value(dictionary,keys):
  corresponding_value=dictionary
  for key in keys:
    if key in corresponding_value:
      corresponding_value=corresponding_value[key]
    else:
      return None
  return corresponding_value
dictionary={"a":{"b":1},"c":{"d":2}}
keys=["c","d"]
print(access_value(dictionary,keys))

2

(Q)34)Write a code that takes a dictionary as input and returns a sorted version of it based on the values.You can choose whether to sort in ascending or descending oder.

In [ ]:
#(Ans):-
def sorted_dictionary(dictionary):
  sorted_dictionary={}
  sorted_keys=sorted(dictionary,key=dictionary.get)
  for key in sorted_keys:
    sorted_dictionary[key]=dictionary[key]
  return sorted_dictionary
dictionary={"a":1,"c":3,"b":2}
print(sorted_dictionary(dictionary))

{'a': 1, 'b': 2, 'c': 3}

(Q)35)Write a code that inverts a dictionary,swapping keys and values.Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by sorting the keys as a list in the inverted dictionary.

In [ ]:
#(Ans):-
def inverted_dictionary(dictionary):
  inverted_d={}
  for key,value in dictionary.items():
    if value not in inverted_d:
      inverted_d[value]=[key]
    else:
      inverted_d[value].append(key)
      inverted_d[value].sort()
  return inverted_d
dictionary={"a":4,"f":5,"m":1,"f":2,"a":1}
inverted_d=inverted_dictionary(dictionary)
print(inverted_d)

{1: ['a', 'm'], 2: ['f']}